body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
#holder{
  width: 400px;
  height: 400px;
  background-color: gray;
}
#holder h1{
  font-size: 30px;
}